<% layout("layouts/boilerplate.ejs") -%>

<!-- A form to edit an items
The form have two fields, Name and Url. -->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Edit <%= item.data.Name %> Item</h1>

                <!-- The only information we need for the form is the name of the collection -->
                <form class="needs-validation" action="/collections/<%= item.parent.collection.CollectionID %>/lists/<%= item.parent.list.ListID %>/items/<%= item.data.ItemID %>?_method=PUT" method="post" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= item.data.Name %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            You need to set a name!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="url">URL</label>
                        <input class="form-control" type="text" name="url" id="url" value="<%= item.data.URL %>" 
                            pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            You need to set a valid url!
                        </div>
                    </div>

                    <!-- Inserting the control of the custom datas -->
                    <% for(let customColumn of item.data.customData) { %>
                        <% let customColumnID = `customColumn_${customColumn.CustomRowItemsID}`; %> 
                        <div class="mb-3">
                            <label class="form-label" for="<%= customColumnID %>"><%= customColumn.ColumnName %></label>
                            <input class="form-control" type="text" name="customColumns[<%= customColumnID %>]" id="<%= customColumnID %>" value="<%= customColumn.Value %>">
                        </div>
                    <% } %>
                
                    <div class="mt-4">
                        <button class="btn btn-primary d-inline">Edit</button>

                        <!-- To allow the the button to appear next to the Create btn, the cancel link has been put there -->
                        <a class="btn btn-secondary" href="/collections/<%= item.parent.collection.CollectionID %>/lists/<%= item.parent.list.ListID %>/items/<%= item.data.ItemID %>">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>