<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4"><%= list.name %></h1>

<div class="pb-4">
    <a class="iconLinkButton" data-toggle="tooltip" title="Add a new item"
        href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/items/new"><img 
        src="/images/new.svg" alt="Add a new item icon"></a>
    <a class="iconLinkButton" data-toggle="tooltip" title="Edit list"
        href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/edit"><img 
        src="/images/edit.svg" alt="Edit the list icon"></a>
    <a class="iconLinkButton" data-toggle="tooltip" title="Update custom columns"
        href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/custom-columns"><img 
        src="/images/updateColumns.svg" alt="Update custom columns icon"></a>
    <a class="iconLinkButton" data-toggle="tooltip" title="Go back to lists"
        href="/collections/<%= list.parentCollection.id %>"><img 
        src="/images/back.svg" alt="Go back icon"></a>

    <button class="iconLinkButton" id="open-delete-list-modal-button" data-toggle="tooltip" title="Delete list"><img 
        src="/images/delete.svg" alt="Delete list icon"></button>

    <a class="iconLinkButton" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/download" data-toggle="tooltip" title="Download list"><img
        src="/images/download.svg" alt="Download icon"></a>

    <a class="iconLinkButton reversed" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/upload" data-toggle="tooltip" title="Upload list"><img
        src="/images/download.svg" alt="Upload icon"></a>

    <a class="iconLinkButton" data-toggle="tooltip" title="Sorting options"
        href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/sorting-options"><img
        src="/images/sorting.svg" alt="Sorting list icon"></a>

    <button class="iconLinkButton" type="button" id="open-search-card-button" data-toggle="tooltip" title="Toggle search card"><img
        src="/images/search.svg" alt="Toggle search card icon"></button>

    <a class="iconLinkButton <%= pagination.reverseOrder === true ? "reversed" : "" %>" data-toggle="tooltip" title="Switch items order"
        href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>?reverse=<%= pagination.reverseOrder === true ? "false" : "true" %>"><img 
        src="/images/crescendoOrder.svg" alt="items display order"></a>
</div>

<%- include("../../../partials/itemsSearchBox.ejs", { searchData: searchParams }) %>

<% for(let item of items) { %>
    <%- include("../../../partials/itemWidget.ejs", {
        url: `/collections/${list.parentCollection.id}/lists/${list.id}/items/${item.id}`,
        title: item.name,
        rating: item.rating
    }) %>
<% } %>

<div class="modal fade" id="deleteListModal" tabindex="-1" aria-labelledby="deleteListModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include("../../../partials/modalErrorCard.ejs") %>
                <div class="mb-3">
                    <p>Do you really want to delete this list? There is no going back!</p>
                </div>
                <div>
                    <label class="form-label" for="deleteListUserPassword">Password</label>
                    <input class="form-control" type="password" name="password" id="deleteListUserPassword">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteListButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<%- include("../../../partials/pagination.ejs") %>

<script>
    const list = <%- JSON.stringify(list, 
        function(key, value) {
            if (typeof value === "bigint") {
                return value.toString();
            }

            return value;
        }) %>
</script>
