<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4"><%= list.name %></h1>

<div class="pb-4">
    <a class="btn btn-primary" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/items/new">New Item</a>
    <a class="btn btn-success" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/edit">Edit List</a>
    <a class="btn btn-secondary" href="/collections/<%= //lists.parent.collection.CollectionID %>">Go Back!</a>

    <form class="d-inline" action="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>?_method=DELETE" method="post">
        <button class="btn btn-danger">Delete List</button>
    </form>
</div>


<% if(false) {// for(let item of lists.data) { %>
    <div class="row pb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="fs-4 fw-normal"><%= item.Name %></h2>

                    <div class="pb-2">
                        <!-- Add the URL only if there is one -->
                        <% if (item.URL) { %> 
                            <a class="card-link" href="<%= item.URL %>">URL</a>
                        <% } %> 
                    </div>

                    <a href="/collections/<%= lists.parent.collection.CollectionID %>/lists/<%= lists.parent.list.ListID %>/items/<%= item.ItemID %>" 
                        class="btn btn-info">View Details</a>
                </div>
            </div>
        </div>
    </div>
<% } %>
