<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4"><%= lists.parent.list.Name %></h1>

<section class="pb-4">
    <a class="btn btn-primary" href="/collections/<%= lists.parent.collection.CollectionID %>/<%= lists.parent.list.ListID %>/new">New Item</a>
    <a class="btn btn-secondary" href="/collections/<%= lists.parent.collection.CollectionID %>">Go Back!</a>

    <form class="d-inline" action="/collections/<%= lists.parent.collection.CollectionID %>/<%= lists.parent.list.ListID %>?_method=DELETE" method="post">
        <button class="btn btn-danger">Delete List</button>
    </form>
</section>


<% for(let item of lists.data) { %>
    <div class="row pb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="fs-4 fw-normal"><%= item.Name %></h2>

                    <section class="pb-2">
                        <!-- Add the URL only if there is one -->
                        <% if (item.URL) { %> 
                            <a class="card-link" href="<%= item.URL %>">URL</a>
                        <% } %> 
                    </section>

                    <a href="/collections/<%= lists.parent.collection.CollectionID %>/<%= lists.parent.list.ListID %>/<%= item.ItemID %>" 
                        class="btn btn-info">View Details</a>
                </div>
            </div>
        </div>
    </div>
<% } %>
