<% layout("layouts/boilerplate.ejs") -%> 

<link rel="stylesheet" href="/styles/starability-basic.min.css">
<link rel="stylesheet" href="/styles/interactionButtons/interactionButtons.css">

<h1 class="display-4"><%= list.name %></h1>

<div class="pb-4">
    <a class="btn btn-primary" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/items/new">New Item</a>
    <a class="btn btn-success" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/edit">Edit List</a>
    <a class="btn btn-info" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/custom-columns">Update Custom Columns</a>
    <a class="btn btn-secondary" href="/collections/<%= list.parentCollection.id %>">Go Back!</a>

    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteListModal">Delete List</button>

    <a class="iconLinkButton <%= pagination.reverseOrder === true ? "reversed" : "" %>" data-toggle="tooltip" title="Switch items order"
        href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>?reverse=<%= pagination.reverseOrder === true ? "false" : "true" %>">
        <img src="/images/crescendoOrder.svg" alt="items display order">
    </a>
</div>

<% for(let item of items) { %>
    <%- include("../../../partials/itemWidget.ejs", {
        url: `/collections/${list.parentCollection.id}/lists/${list.id}/items/${item.id}`,
        title: item.name,
        rating: item.rating
    }) %>
<% } %>

<div class="modal fade" id="deleteListModal" tabindex="-1" aria-labelledby="deleteListModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this list? There is no going back!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteListButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<%- include("../../../partials/pagination.ejs") %>

<script type="module" src="/javascript/collections/lists/deleteList.js"></script>

<script>
    const list = <%- JSON.stringify(list, 
        function(key, value) {
            if (typeof value === "bigint") {
                return value.toString();
            }

            return value;
        }) %>
</script>
