<% layout("layouts/boilerplate.ejs") -%>

<link rel="stylesheet" href="/styles/starability-basic.min.css">

<!-- A form to create a new items
The form have two fields, Name and Url. -->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Add A New Item In <%= list.name %> List</h1>

                <!-- The only information we need for the form is the name of the collection -->
                <form class="needs-validation" action="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/items" method="post" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            You need to set a name!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="url">URL</label>
                        <input class="form-control" type="text" name="url" id="url" 
                            pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            You need to set a valid url!
                        </div>
                    </div>

                    <div class="mb-4 starability-basic">
                        <div class="form-label">Rating</div>
                        <input class="input-no-rate" type="radio" name="rating" id="no-rate" checked value="0">
                        <input type="radio" name="rating" id="first-rate1" value="1">
                        <label for="first-rate1" title="Terrible">1 Star</label>
                        <input type="radio" name="rating" id="first-rate2" value="2">
                        <label for="first-rate2" title="Not good">2 Star</label>
                        <input type="radio" name="rating" id="first-rate3" value="3">
                        <label for="first-rate3" title="Average">3 Star</label>
                        <input type="radio" name="rating" id="first-rate4" value="4">
                        <label for="first-rate4" title="Very good">4 Star</label>
                        <input type="radio" name="rating" id="first-rate5" value=5>
                        <label for="first-rate5" title="Amazing">5 Star</label>
                    </div>

                    <!-- Inserting the control the custom columns -->
                    <% for(let customColumn of listColumnsType) { %>
                        <% let customColumnID = `customColumn_${customColumn.id}`; %> 
                        <div class="mb-3">
                            <label class="form-label" for="<%= customColumnID %>"><%= customColumn.name %></label>
                            <input class="form-control" <%- getCustomControlType(customColumn) %> name="customColumns[<%= customColumnID %>]" id="<%= customColumnID %>">
                        </div>
                    <% } %>
                
                    <div class="mt-4">
                        <button class="btn btn-primary d-block w-100 mb-2">Add</button>

                        <!-- To allow the the button to appear next to the Create btn, the cancel link has been put there -->
                        <a class="btn btn-secondary d-block w-100" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
