<% layout("layouts/boilerplate.ejs") -%> 

<div class="row pb-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <ul class="list-group list-group-flush p-2">

                <!-- The information about the item -->
                <li class="list-group-item">
                    <section>
                        <h1 class="card-title fs-3"><%= item.data.Name %></h1>

                        <% if (item.data.URL) { %> 
                            <p class="text-muted">URL: <a class="card-link" href="<%= item.data.URL %>"><%= item.data.URL %></a></p>
                        <% } %> 
                    </section>
                </li>

                <!-- The button to destroy the item or going back -->
                <li class="list-group-item pt-3">
                    <a class="btn btn-success" href="/collections/<%= item.parent.collection.CollectionID %>/<%= item.parent.list.ListID %>/<%= item.data.ItemID %>/edit">Edit</a>

                    <form class="d-inline"
                            action="/collections/<%= item.parent.collection.CollectionID %>/<%= item.parent.list.ListID %>/<%= item.data.ItemID %>?_method=DELETE" 
                            method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                    <a class="btn btn-secondary" href="/collections/<%= item.parent.collection.CollectionID %>/<%= item.parent.list.ListID %>">Go Back!</a>
                </li>
            </ul>
        </div>
    </div>
</div>