<% layout("layouts/boilerplate.ejs") -%> 

<h1><%= item.data.Name %></h1>

<% if (item.data.URL) { %> 
    <a href="<%= item.data.URL %>"><%= item.data.URL %></a><br><br><br>
<% } %> 

<form action="/collections/<%= item.parent.collection.CollectionID %>/<%= item.parent.list.ListID %>/<%= item.data.ItemID %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>

<a href="/collections/<%= item.parent.collection.CollectionID %>/<%= item.parent.list.ListID %>">Go Back!</a>