<% layout("layouts/boilerplate.ejs") -%>

<dl class="chart">
    <dt>Activites last 30 days</dt>
    <% if (userActivity?.days?.length) { %>
        <% for (const day of userActivity.days) { %>
            <% const percentage = day.activities / userActivity.maxADay * 100; %>
            <dd class="chart-content">
                <div class="chart-element-text">Day <%= day.day %></div>
                <a class="chart-line" style="width: <%= percentage %>%;" href="/admin/activities/byday/<%= day.day %>"></a>
            </dd>
        <% } %>
    <% } else { %>
        <dd>No data available!</dd>
    <% } %>
</dl>

<div class="chart-cross-line"></div>

<div>
    <div class="total-activities"><b>Total:</b> <%= userActivity.total %></div>
    <div class="total-activities"><b>Unique users:</b> <%= uniqueUsers %></div>
</div>
