<% layout("layouts/boilerplate.ejs") -%>

<div class="row h-100 overflow-hidden">
    <div class="col-12 m-0 p-0 h-100 overflow-hidden">
        <div class="flex flex-column h-100 overflow-y-auto mx-2 chart-container">
            <dl class="chart my-3">
                <dt>Activites last 30 days</dt>
                <% if (userActivity?.days?.length) { %>
                <% for (const day of userActivity.days) { %>
                <% const percentage = day.activities / userActivity.maxADay * 100; %>
                <dd class="chart-content">
                    <div class="chart-element-text">Day <%= day.day %></div>
                    <div class="inner-chart-content">
                        <a hx-boost="true" class="chart-line" style="width: <%= percentage %>%;" href="/admin/activities/byday/<%= day.day %>"></a>
                    </div>
                </dd>
                <% } %>
                <% } else { %>
                <dd>No data available!</dd>
                <% } %>
            </dl>

            <div class="chart-cross-line"></div>

            <div>
                <div class="total-activities"><b>Total:</b> <%= userActivity.total %></div>
                <div class="total-activities"><b>Unique users:</b> <%= uniqueUsers %></div>
            </div>
        </div>
    </div>
</div>
