<% layout("layouts/boilerplate.ejs") -%> 

<h1><%= lists.parent.collection.Name %>:</h1>

<ul>
    <% for (let list of lists.data) { %> 
        <li>
            <a href="/collections/<%= lists.parent.collection.CollectionID %>/<%= list.ListID %>"><%= list.Name %></a>
        </li>
    <% } %> 
</ul>

<form action="/collections/<%= lists.parent.collection.CollectionID %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>

<a href="/collections/<%= lists.parent.collection.CollectionID %>/new">New List</a>

<a href="/collections">Go Back!</a>