<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4"><%= collection.name//lists.parent.collection.Name %></h1>

<div class="mb-4">
    <a class="iconLinkButton" data-toggle="tooltip" title="Add a new list"
        href="/collections/<%= collection.id %>/lists/new"><img
        src="/images/new.svg" alt="Add a new list icon"></a>
    <a class="iconLinkButton" data-toggle="tooltip" title="Edit collection"
        href="/collections/<%= collection.id %>/edit"><img 
        src="/images/edit.svg" alt="Edit collection"></a>
    <a class="iconLinkButton" href="/collections" data-toggle="tooltip" title="Go back to collections"><img 
        src="/images/back.svg" alt="Back to collection icon"></a>

    <button type="button" class="iconLinkButton" id="open-delete-collection-modal-button" data-toggle="tooltip" title="Delete collection"><img 
        src="/images/delete.svg" alt="Delete collection icon"></button>
</div>

<!-- Display the available lists in a list of cards -->
<% for(let list of lists) { %>
    <%- include("../../partials/itemWidget.ejs", {
        url: `/collections/${collection.id}/lists/${list.id}`,
        title: list.name
    }) %>
<% } %>

<div class="modal fade" id="deleteCollectionModal" tabindex="-1" aria-labelledby="deleteCollectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Collection</h1>
            </div>
            <div class="modal-body">
                <%- include("../../partials/modalErrorCard.ejs") %>
                <div class="mb-3">
                    <p>Do you really want to delete this collection? There is no going back!</p>
                </div>
                <div>
                    <label class="form-label" for="deleteCollectionUserPassword">Password</label>
                    <input class="form-control" type="password" name="password" id="deleteCollectionUserPassword">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteCollectionButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/pagination.ejs") %>

<script>
    const collection = <%- JSON.stringify(collection, function(key, value) {
        if (typeof value === "bigint") {
            return value.toString();
        }

        return value;
    }) %>
</script>

