<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4"><%= collection.name//lists.parent.collection.Name %></h1>

<div class="mb-4">
    <a class="btn btn-primary" href="/collections/<%= collection.id %>/lists/new">New List</a>
    <a class="btn btn-success" href="/collections/<%= collection.id %>/edit">Edit Collection</a>
    <a class="btn btn-secondary" href="/collections">Go Back</a>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCollectionModal">Delete Collection</button>
</div>

<!-- Display the available lists in a list of cards -->
<% for(let list of lists) { %>
    <div class="row pb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="fs-4 fw-normal pb-3"><%= list.name %></h2>

                    <a class="btn btn-info" href="/collections/<%= collection.id %>/lists/<%= list.id %>">View List</a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<div class="modal fade" id="deleteCollectionModal" tabindex="-1" aria-labelledby="deleteCollectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Collection</h1>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this collection? There is no going back!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteCollectionButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/pagination.ejs", {
    baseRoute: `/collections/${collection.id}`
}) %>

<script>
    const collection = <%- JSON.stringify(collection, function(key, value) {
        if (typeof value === "bigint") {
            return value.toString();
        }

        return value;
    }) %>
</script>

<script type="module" src="/javascript/collections/deleteCollection.js"></script>
