<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a hx-boost="true" href="/" class="navbar-brand">GameSorting</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" hx-boost="true">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/collections" class="nav-link <%= activeLink === 'Collections' ? 'active': '' %>">Collections</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if (activeLink === 'Collections') { %>
                    <form class="d-flex" id="search-box" action="#" hx-disable="true">
                        <input id="search-box-input" type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
                        <button id="search-box-button" class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                <% } %>
                <% if (currentUser) { %>
                    <% if (isUserAdmin) { %>
                        <li class="nav-item">
                            <a href="/admin" class="nav-link <%= activeLink === 'Admin' ? 'active' : ''%>">Admin</a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a href="/users/informations" class="nav-link <%= activeLink === 'UserInformations' ? 'active' : '' %>"><%= currentUser.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" hx-post="/users/logout" hx-push-url="false">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link <%= activeLink === 'UserLogin' ? 'active' : '' %>">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/register" class="nav-link <%= activeLink === 'UserRegister' ? 'active' : '' %>">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
