<% 
    const numberBtnButtonClass = "btn btn-outline-primary";
    const selectedBtnButtonClass = "btn btn-primary";
    const prevNextButtonClass = "btn btn-outline-primary";
%>

<%
function makePaginationLink(pageNumber) {
    if (typeof pageNumber !== "number") {
        return "";
    }

    if (pageNumber !== pagination.currentPage) {
        return `<a class="${numberBtnButtonClass}" href="pagination_${pageNumber}">${pageNumber}</a>`;
    } else {
        return `<span class="${selectedBtnButtonClass}">${pageNumber}</span>`;
    }
}
%>

<% if (pagination.numberOfPages > 1) { %>
    <div class="d-flex justify-content-center">
        <div class="btn-toolbar" role="toolbar" aria-label="Pages numbers">
            <div class="btn-group m2" role="group" aria-label="Pages numbers group">
                <% if (pagination.currentPage > 1) { 
                    const prevPage = pagination.currentPage - 1;%>
                    <a class="<%= prevNextButtonClass %>" href="pagination_prevPage">&lt;</a>
                <% } %>

                <% for (let i = 1; i <= Math.min(6, pagination.numberOfPages); i++) { %>
                    <%- makePaginationLink(i) %>
                <% } %>

                <% if (pagination.numberOfPages > 7) { %>
                <div class="btn-group" role="group">
                    <button type="button" class="<%= numberBtnButtonClass %>" data-bs-toggle="dropdown" aria-expanded="false">...</button>
                        <ul class="dropdown-menu border border-primary" style="overflow: auto; max-height: 15rem">
                            <% for (let i = 7; i < pagination.numberOfPages; i++) { %>
                                <li><a 
                                    href="pagination_<%= i %>" 
                                <% if (i !== pagination.currentPage) { %>
                                    class="dropdown-item border-bottom border-primary text-primary"
                                <% } else { %>
                                    class="dropdown-item bg-primary text-light"
                                <% } %>
                                >
                                    <%= i %>
                                </a></li>
                            <% } %>
                        </ul>
                </div>
                <% } %>

                <% if (pagination.numberOfPages > 6) { %>
                    <%- makePaginationLink(pagination.numberOfPages) %>
                <% } %>

                <% if (pagination.currentPage < pagination.numberOfPages) {
                    const nextPage = pagination.currentPage + 1; %>
                    <a class="btn btn-outline-primary" href="pagination_nextPage">&gt;</a>
                <% } %>
            </div>
        </div>
    </div>
<% } %>

<script>
    const pagination = <%- JSON.stringify({
        currentPage: pagination.currentPage,
        numberOfPages: pagination.numberOfPages
    }); %>
</script>

<script src="/javascript/paginations/setPaginationsHRef.js"></script>
