<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>

<div class="row mt-3">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <form class="card-body user-select-none"
                hx-post="/users/update-password"
                hx-push-url="false"
                hx-swap="innerHTML"
            >
<% } %>
                <h1 class="card-title fs-4">Update Password</h1>

<%
const isErrorAvailable = typeof errorMessages === "object";
%>

                <% if (isErrorAvailable && errorMessages.global) { %>
                <p class="text-danger fs-5 text-underline"><%= errorMessages.global %></p>
                <% } %>

                <div class="form-floating my-3">
                    <input class="form-control <%= isErrorAvailable && errorMessages.currentPassword ? 'is-invalid' : '' %>" type="password" name="current-password" id="current-password" placeholder="" value="<%= editValues.currentPassword %>">
                    <label for="current-password">Current Password</label>
                    <% if (isErrorAvailable && errorMessages.currentPassword) { %>
                    <div class="invalid-feedback"><%= errorMessages.currentPassword %></div>
                    <% } %>
                </div>

                <div class="form-floating my-3">
                    <input class="form-control <%= isErrorAvailable && errorMessages.newPassword ? 'is-invalid' : '' %>" type="password" name="new-password" id="new-password" placeholder="" value="<%= editValues.newPassword %>">
                    <label for="new-password">New Password</label>
                    <% if (isErrorAvailable && errorMessages.newPassword) { %>
                    <div class="invalid-feedback"><%= errorMessages.newPassword %></div>
                    <% } %>
                </div>

                <div class="form-floating my-3">
                    <input class="form-control <%= isErrorAvailable && errorMessages.retypedPassword ? 'is-invalid' : '' %>" type="password" name="new-retyped-password" id="new-retyped-password" placeholder="" value="<%= editValues.retypedPassword %>">
                    <label for="new-retyped-password">Retyped Password</label>
                    <% if (isErrorAvailable && errorMessages.retypedPassword) { %>
                    <div class="invalid-feedback"><%= errorMessages.retypedPassword %></div>
                    <% } %>
                </div>

                <button class="btn btn-outline-secondary" type="submit">Update Password</button>

<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
            </form>
        </div>
    </div>
</div>
<% } %>
