
<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>

<div class="row mt-3">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <form class="card-body user-select-none"
                hx-post="/users/update-username"
                hx-push-url="false"
                hx-swap="innerHTMX"
            >
<% } %>
<%
const isErrorAvailable = typeof errorMessages === "object";
%>

                <h1 class="card-title fs-4">Update Username</h1>

                <% if (isErrorAvailable && errorMessages.global) { %>
                <p class="text-danger fs-5 text-underline"><%= errorMessages.global %></p>
                <% } %>

                <div class="form-floating my-3">
                    <input class="form-control <%= isErrorAvailable && errorMessages.username ? 'is-invalid' : '' %>" type="text" name="username" id="username" placeholder="" value="<%= editValues.username %>">
                    <label for="username">Username</label>
                    <% if (isErrorAvailable && errorMessages.username) { %>
                    <div class="invalid-feedback"><%= errorMessages.username %></div>
                    <% } %>
                </div>

                <div class="form-floating my-3">
                    <input class="form-control <%= isErrorAvailable && errorMessages.password ? 'is-invalid' : '' %>" type="password" name="password" id="password" placeholder="" value="<%= editValues.password %>">
                    <label for="password">Password</label>
                    <% if (isErrorAvailable && errorMessages.password) { %>
                    <div class="invalid-feedback"><%= errorMessages.password %></div>
                    <% } %>
                </div>

                <button class="btn btn-outline-secondary" type="submit">Update Username</button>

<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
            </form>
        </div>
    </div>
</div>
<% } %>
