<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>
<% } %>

<div class="row mt-3">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h1 class="card-title fs-4"><%= user.username %></h1>
                    <a 
                        class="btn m-0 p-0"
                        href="/users/update-username"
                        hx-boost="true"
                    ><%- include("../icons/edit.ejs") %></a>
                </div>

                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div><%= user.email %></div>
                    <a 
                        class="btn m-0 p-0"
                        href="/users/update-email"
                        hx-boost="true"
                    ><%- include("../icons/edit.ejs") %></a>
                </div>

                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div>Password: ****</div>
                    <a 
                        class="btn m-0 p-0"
                        href="/users/update-password"
                        hx-boost="true"
                    ><%- include("../icons/edit.ejs") %></button>
                </div>
            </div>
        </div>
    </div>
</div>
