<% layout("layouts/boilerplate.ejs") -%>

<% 
function exportList() {
    return {
        id: list.id,
        name: list.name,
        parentCollection: {
            id: list.parentCollection.id
        }
    }
}

function jsonReplacer(key, value) {
    if (typeof value === "bigint") {
        return value.toString();
    }

    return value;
}

function exportListCustomColumns() {
    return listCustomColumns.map(customColumn => (
        JSON.stringify({
            id: customColumn.id,
            name: customColumn.name,
            type: customColumn.type
        }, jsonReplacer)
    ));
}
%>

<script>
    const list = <%- JSON.stringify(exportList(), jsonReplacer) %>;
    const listCustomColumns = <%- `[ ${exportListCustomColumns()} ]` %>
        .map(function(column, index) { return { ...column, index, fromList: "original" } });
</script>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit <%= list.name %> Custom Columns</h4>

                <div class="mb-3" id="columnsList">

                </div>

                <form action="#" id="customColumnSubmitter">
                    <div class="mb-3">
                        <label class="form-label" for="column-name">Column Name</label>
                        <input class="form-control" type="text" name="columnName" id="column-name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="column-type">Column Type</label>
                        <select class="form-control" name="columnType" id="column-type">
                            <option value="@String" active>String</option>
                            <option value="@Int">Int</option>
                        </select>
                    </div>
                    <div class="d-none" id="column-number-block">
                        <div class="mb-3">
                            <label class="form-label" for="column-number-min">Min</label>
                            <input class="form-control" type="number" id="column-number-min">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="column-number-max">Max</label>
                            <input class="form-control" type="number" id="column-number-max">
                        </div>
                    </div>
                    <button class="btn btn-success w-100">Add</button>
                </form>

                <button id="submit_button" class="btn btn-primary w-100 mt-3" type="button">Submit</button>
                <a class="btn btn-secondary w-100 mt-3" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/customColumnsList.js"></script>
<script src="/javascript/updateCustomColumns.js"></script>
