<% layout("layouts/boilerplate.ejs") -%>

<% 
function exportList() {
    return {
        id: list.id,
        name: list.name,
        parentCollection: {
            id: list.parentCollection.id
        }
    }
}

function jsonReplacer(key, value) {
    if (typeof value === "bigint") {
        return value.toString();
    }

    return value;
}

function exportListCustomColumns() {
    return listCustomColumns.map(customColumn => (
        JSON.stringify({
            id: customColumn.id,
            name: customColumn.name,
            type: customColumn.type
        }, jsonReplacer)
    ));
}
%>

<script>
    const list = <%- JSON.stringify(exportList(), jsonReplacer) %>;
    const listCustomColumns = <%- `[ ${exportListCustomColumns()} ]` %>
        .map(function(column, index) { return { ...column, index, fromList: "original" } });
    let count = 0;
    let newColumnsList = [];
</script>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
           <h4 class="card-title pt-3 ps-3">Edit <%= list.name %> Custom Columns</h4>
            <ul class="list-group list-group-flush" id="columnsList">

            </ul>
            <div class="card-body">

                <form action="#" id="customColumnSubmitter">
                    <div class="mb-3">
                        <label class="form-label" for="column-name">Column Name</label>
                        <input class="form-control" type="text" name="columnName" id="column-name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="column-type">Column Type</label>
                        <select class="form-control" name="columnType" id="column-type">
                            <option value="@String" active>String</option>
                            <option value="@Int">Int</option>
                            <option value="@Stars">Stars</option>
                            <option value="@Href">URL</option>
                        </select>
                    </div>
                    <div class="d-none" id="column-number-block">
                        <div class="mb-3">
                            <label class="form-label" for="column-number-min">Min</label>
                            <input class="form-control" type="number" id="column-number-min">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="column-number-max">Max</label>
                            <input class="form-control" type="number" id="column-number-max">
                        </div>
                    </div>
                    <button class="btn btn-success w-100">Add</button>
                </form>

                <button id="submit_button" class="btn btn-primary w-100 mt-3" type="button">Submit</button>
                <a class="btn btn-secondary w-100 mt-3" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>">Cancel</a>
                <a class="btn btn-info w-100 mt-3" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/import-custom-columns-from-list">Import from</a>
            </div>
        </div>
    </div>
</div>

<!--Ask user to confirm deletion of currently available columns-->
<div class="modal fade" id="ask-for-delete-current-col" tabindex="-1" aria-labelledby="confirmDeleteCol" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Column</h1>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you realy want really want to delete <span id="modal-col-name-title"></span> column? There is no going back!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="modal-button-delete-custom-column">Delete Column</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-custom-column-info-modal" tabindex="-1" aria-labelledby="updateCustomColumnInfo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update Custom Column: <span id="modal-custom-column-title-name"></span></h1>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include("../../../partials/modalErrorCard.ejs") %>
                <div>
                    <label class="form-label" for="modal-custom-column-name">Name</label>
                    <input class="form-control" type="text" id="modal-custom-column-name-input">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="update-custom-column-submit-button">Submit</button>
            </div>
        </div>
    </div>
</div>

