<% layout("layouts/boilerplate.ejs") -%>

<style>
    .list-list {
        max-height: 300px;
        overflow-y: scroll;
    }

    .search-btn img {
        width: 24px;
        aspect-ratio: 1/1;
    }
</style>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Import custom columns from:</h1>
                <form class="my-3 container-fluid mx-0 p-0" action="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/import-custom-columns-from-list">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control mx-0" type="text" name="search" placeholder="Search" value="<%= searchText %>">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success search-btn mx-0" type="submit"><img 
                            src="/images/search.svg" alt="Search lists icon"></button>
                        </div>
                    </div>
                </form>
                <% if (searchedLists.length) { %>
                <form id="search-lists-form" action="">
                    <ul id="search-lists-ul" class="list-group list-list">
                        <% for (const searchedList of searchedLists) { %>
                            <button type="button" id="search-lists-select-button-<%= searchedList.id %>" class="list-group-item list-group-item-dark list-group-item-action"><%= searchedList.parentCollection.name %>/<%= searchedList.name %></button>
                        <% } %>
                    </ul>
                    <% } else { %>
                        <p class="mx-0 my-1">No list found!</p>
                    <% } %>
                    <button class="btn btn-success w-100 mt-3" type="submit">Import</button>
                </form>
                <a class="btn btn-secondary w-100 mt-3" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/custom-columns">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!-- Form used to send request to backend with the selected list -->
<form class="d-none" id="search-lists-submit-list-id-form" action="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/import-custom-columns-from-list" method="post">
    <input type="hidden" name="importListID" id="search-lists-submit-list-id-input">
</form>

<div class="modal fade" id="search-lists-accept-modal" tabindex="-1" aria-labelledby="searchListsAcceptModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="model-title fs-5">Import From</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you realy want to import custom columns from <span id="search-lists-accept-modal-list-name"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="search-lists-accept-modal-accept-button">Import</button>
            </div>
        </div>
    </div>
</div>

<script>
    const searchedLists = <%- JSON.stringify(searchedLists, (key, value) => typeof value === "bigint" ? value.toString() : value); %>;
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="/javascript/customColumns/importCustomColumns.js"></script>
