<% layout("layouts/boilerplate.ejs") -%>

<style>
    .list-list {
        max-height: 300px;
        overflow-y: scroll;
    }

    .search-btn img {
        width: 24px;
        aspect-ratio: 1/1;
    }
</style>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Import custom columns from:</h1>
                <form class="my-3 container-fluid mx-0 p-0" action="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/import-custom-columns-from-list">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control mx-0" type="text" name="search" placeholder="Search" value="<%= searchText %>">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success search-btn mx-0" type="submit"><img 
                            src="/images/search.svg" alt="Search lists icon"></button>
                        </div>
                    </div>
                </form>
                <ul class="list-group list-list">
                    <% for (const searchedList of searchedLists) { %>
                        <li class="list-group-item list-group-item-dark"><%= searchedList.parentCollection.name %>/<%= searchedList.name %></li>
                    <% } %>
                </ul>
                <button class="btn btn-success w-100 mt-3" type="button">Import</button>
                <a class="btn btn-secondary w-100 mt-3" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/custom-columns">Cancel</a>
            </div>
        </div>
    </div>
</div>
