<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.data.Name %></title>
</head>
<body>
    <h1><%= item.data.Name %></h1>

    <% if (item.data.URL) { %> 
        <a href="<%= item.data.URL %>"><%= item.data.URL %></a><br><br><br>
    <% } %> 

    <a href="/collections/<%= item.collection.CollectionID %>/<%= item.list.ListID %>">Go Back!</a>
</body>
</html>