<div id="collections-lists-list-outer-column" class="col-4 m-0 p-0">
    <div class="card h-100">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <div>Collections/Lists</div>
            <div class="dropdown h-100">
                <button type="button" class="btn btn-outline-secondary p-0 px-1 m-0 h-100" style="font-size: 0.75rem;" data-bs-toggle="dropdown" aria-expanded="false">
                    <%- include("../icons/vertical_three_dots.ejs") %>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-item"
                            hx-get="/collections/new"
                            hx-target="#collections-lists-list-outer-column"
                            hx-swap="outerHTML"
                        >
                            New
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="collections-lists-list-button" class="list-group list-group-flush">
            <% for (const list of lists) { %>
                <div
                    id="button-list-<%= list.id %>"
                    role="button" 
                    class="button-list-<%= list.id %> list-group-item list-group-item-action <%= selectedID == list.id  ? 'active' : ''%> d-flex flex-row justify-content-between align-items-center"
                    hx-get="/collections/lists/<%= list.id %>"
                    hx-trigger="click target:.button-list-<%= list.id %>"
                    hx-target="#collections-lists-global-row"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    x-data="{ open: false }"
                >
                    <div class="button-list-<%= list.id %>">
                        <%= 
                            list.parentCollection.name %>/<%=
                            list.name 
                        %>
                    </div>
                    <div id="inner-button-list-<%= list.id %>" class="dropdown h-100">
                        <button type="button" class="d-block btn btn-outline-secondary p-0 px-1 m-0 h-100" style="font-size: 0.75rem;" data-bs-toggle="dropdown" aria-expanded="false">
                            <%- include("../icons/vertical_three_dots.ejs") %>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropdown-item"
                                    hx-get="/collections/lists/<%= list.id %>/delete-modal?destinationId=button-list-<%= list.id %>&selectedID=<%= selectedID %>"
                                    hx-target="#modal-content-section"
                                    hx-push-url="false"
                                    hx-swap="innerHTML"
                                >
                                    Delete
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<!--<script src="/javascript/htmx/collections/collections_lists_list.js" defer></script>-->
