<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>
<% } %>

<% if (!htmx.isHTMX || htmx.isBoosted) { %>
<div id="collections-lists-global-row" class="row h-100"
    hx-get="<%= originalUrl %>"
    hx-swap="outerHTML"
    hx-trigger="load">
    <%- include("./partials/collections_lists_empty.ejs") %>
    <%- include("./partials/items_empty.ejs") %>
</div>
<% } else { %>

<%
const includeOuter = 
    (typeof onlyItems !== "boolean" || !onlyItems) &&
    (typeof onlyList !== "boolean" || !onlyList);

const includeList =
    (typeof onlyItems !== "boolean" || !onlyItems) &&
    (typeof onlyList !== "boolean" || onlyList);

const includeItems =
    (typeof onlyItem !== "boolean" || onlyItems) &&
    (typeof onlyList !== "boolean" || !onlyList);
%>

<% if (includeOuter) { %>
<div id="collections-lists-global-row" class="row h-100">
<% } %>
<% if (includeList) { %>
    <%- include("./collections_lists_list.ejs", { lists: lists, selectedID: listID }) %>
<% } %>

<% if (includeItems) { %>
    <% if (!items.length) { %>
    <%- include("./partials/items_empty.ejs", { selectedID: listID }) %>
    <% } else { %>
    <%- include("./items/items.ejs", { items: items, baseUrl: originalUrl, selectedID: listID }) %>
    <% } %>
<% } %>
<% if (includeOuter) { %>
</div>
<% } %>

<% } %>
