<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>
<% } %>

<% if (!htmx.isHTMX || htmx.isBoosted) { %>
<div id="collections-lists-global-row" class="row h-100"
    hx-get="<%= originalUrl %>"
    hx-swap="outerHTML"
    hx-trigger="load">
    <%- include("./partials/collections_lists_empty.ejs") %>
    <%- include("./partials/items_empty.ejs") %>
</div>
<% } else { %>

<% if (typeof onlyItems !== "boolean" || !onlyItems) { %>
<div id="collections-lists-global-row" class="row h-100">
    <%- include("./collections_lists_list.ejs", { lists: lists, selectedID: listID }) %>
<% } %>
    <% if (!items.length) { %>
    <%- include("./partials/items_empty.ejs") %>
    <% } else { %>
    <%- include("./items/items.ejs", { items: items, baseUrl: originalUrl }) %>
    <% } %>
<% if (typeof onlyItems !== "boolean" || !onlyItems) { %>
</div>
<% } %>

<% } %>
