<div id="collections-lists-list-outer-column" class="col-4 m-0 p-0 overflow-hidden h-100">
    <div class="card h-100 border-end-0 border-start-0 rounded-0">
        <div class="card-header d-flex flex-row justify-content-between align-items-center user-select-none">
            <div>Collections/Lists</div>
            <div class="dropdown h-100">
                <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%- include("../icons/vertical_three_dots.ejs") %>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-item cursor-pointer"
                            hx-get="/collections/new"
                            hx-target="#collections-lists-list-outer-column"
                            hx-swap="outerHTML"
                            <% if (typeof pagination === "object") { %>
                                hx-headers='{"GS-currentPage":<%= pagination.currentPage %>}'
                            <% } %>
                        >
                            New
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="collections-lists-list-button" class="list-group list-group-flush overflow-auto h-100">
            <% for (const list of lists) { %>
                <div
                    id="button-list-<%= list.id %>"
                    role="button" 
                    class="button-list-<%= list.id %> list-group-item list-group-item-action <%= selectedID == list.id  ? 'active' : ''%> d-flex flex-row justify-content-between align-items-center user-select-none"
                    hx-get="/collections/lists/<%= list.id %>"
                    hx-trigger="click target:.button-list-<%= list.id %>"
                    hx-target="#collections-lists-global-row"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    <% if (typeof pagination === "object") { %>
                        hx-headers='{"GS-currentPage":<%= pagination.currentPage %>}'
                    <% } %>
                >
                    <div class="button-list-<%= list.id %>">
                        <%= 
                            list.parentCollection.name %>/<%=
                            list.name 
                        %>
                    </div>
                    <div id="inner-button-list-<%= list.id %>" class="dropdown h-100">
                        <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                            <%- include("../icons/vertical_three_dots.ejs") %>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropdown-item cursor-pointer"
                                    hx-get="/collections/lists/<%= list.id %>/delete-modal?destinationId=button-list-<%= list.id %>&selectedID=<%= selectedID %>"
                                    hx-target="#modal-content-section"
                                    hx-push-url="false"
                                    hx-swap="innerHTML"
                                >
                                    Delete
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item cursor-pointer"
                                    hx-get="/collections/lists/<%= list.id %>/edit"
                                    hx-target="#collections-lists-list-outer-column"
                                    hx-push-url="false"
                                    hx-swap="outerHTML"
                                >
                                    Editing
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
        <% const previousHTMXHeader = typeof selectedID !== "undefined" ? `hx-get="/collections/lists/${selectedID}?onlyList=true"` : 'hx-get="/collections/collections_lists_list"' %>
        <% const nextHTMXHeader = typeof selectedID !== "undefined" ? `hx-get="/collections/lists/${selectedID}?onlyList=true"` : 'hx-get="/collections/collections_lists_list"' %>

        <%- include("./partials/pagination_footer.ejs", {
            previousHTMX: `
                ${previousHTMXHeader}
                hx-target="#collections-lists-list-outer-column"
                hx-swap="outerHTML"
                hx-headers='{"GS-currentPage":${pagination.currentPage-1}}'
            `,
            nextHTMX: `
                ${nextHTMXHeader}
                hx-target="#collections-lists-list-outer-column"
                hx-swap="outerHTML"
                hx-headers='{"GS-currentPage":${pagination.currentPage+1}}'
            `,
            pagination: typeof pagination === "object" ? pagination : null,
        }) %>
    </div>
</div>

<!--<script src="/javascript/htmx/collections/collections_lists_list.js" defer></script>-->
