<%
const isError = typeof errorMessage === "string" && errorMessage.length > 0;
const isNotValidation = typeof justValidation !== "boolean" || !justValidation;
const isEditing = typeof editing === "boolean" && editing;
%>

<% if (isNotValidation) { %>
<div id="collection-list-form-card" class="col-4 m-0 p-0">
    <div class="card h-100 border-end-0 border-start-0 rounded-0">
        <div class="card-header d-flex flex-row flex-start align-items-center">
            <div class="btn p-0 py-1 px-1"
                <% if (typeof returnUrl === "string" && returnUrl.length) { %>
                    hx-get="<%= returnUrl %>?onlyList=true"
                    hx-target="#collection-list-form-card"
                    hx-swap="outerHTML"
                <% } %>
            >
            &lt;</div>
            New Collection/List
        </div>
        <form class="card-body d-flex flex-column justify-content-center align-items-center h-100"
            <% if (isEditing) { %>
            hx-put="/collections/lists/<%= list.id %>"
            <% } else { %>
            hx-post="/collections/lists"
            <% } %>
        >
<% } %>
            <% if (isEditing) { %>
                <h3 class="display-7 my-2">Editing <%= list.parentCollection.name %>/<%= list.name %></h3>
            <% } else { %>
                <h3 class="display-7 my-2">Creating Collection/List</h3>
            <% } %>
            <p class="my-2">Ex: My Collection / My List</p>
            <div class="form-floating w-100 my-2 ">
                <input class="form-control <%= isError ? 'is-invalid' : '' %>" type="text" name="collection_list_name" id="form-collection-list-input" placeholder="" value="<%= typeof inputValue === 'string' ? inputValue : '' %>">
                <label for="form-collection-list-input">Collection/List Name</label>
                <% if (isError) { %>
                <div class="invalid-feedback">
                    <%= errorMessage %>
                </div>
                <% } %>
            </div>
            <button type="submit" class="btn btn-outline-secondary w-100 my-2"
            <% if (isEditing) { %>
                >Editing</button>
            <% } else { %>
                >Create</button>
            <% } %>
<% if (isNotValidation) { %>
        </form>
    </div>
</div>
<% } %>
