<% if (!validationPhase) { %>
<div id="admin-reset-user-password-modal" class="modal fade" tabindex="-1" aria-labelledby="adminResetUserPasswordModal" aria-hidden="true" gs-new-modal="true">
    <form
        class="modal-dialog"
        hx-post="/admin/users/<%= user.id %>/reset-password"
        hs-push-url="false"
        hx-swap="innerHTML"
    >
<% } %>
<%
const isErrorAvailable = typeof errorMessages === "object";
%>
        <div class="modal-content user-select-none">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Reset User Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
<% if (typeof newPassword !== "string") { %>
            <div class="modal-body">
                <p>Reset user password!</p>
                <div class="form-floating my-3">
                    <input class="form-control <%= isErrorAvailable && errorMessages.password ? 'is-invalid' : '' %>" type="password" name="password" id="password" placeholder="" value="<%= editValues.password %>">
                    <label for="password">Password</label>
                    <% if (isErrorAvailable && errorMessages.password) { %>
                    <div class="invalid-feedback"><%= errorMessages.password %></div>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
<% } else { %>
            <div class="modal-body">
                <p>New password of user <i><%= user.username %></i> is: <b class="user-select-all"><%= newPassword %></b></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Exit</button>
            </div>
<% } %>
        </div>
<% if (!validationPhase) { %>
    </form>
</div>
<% } %>
