<div id="delete-list-modal-<%= list.id %>" class="modal fade" tabindex="-1" aria-labelledby="deleteListModal" aria-hidden="true" gs-new-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Collection/List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete list <%= list.parentCollection.name %>/<%= list.name %>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"
                    hx-delete="/collections/lists/<%= list.id %>?selectedID=<%= selectedID %>"
                    hx-target="#<%= destinationId %>"
                    hx-swap="outerHTML"
                    data-bs-dismiss="modal"
                >Delete</button>
            </div>
        </div>
    </div>
</div>
