<%
const isValidationPhase = typeof isValidation === "boolean" && isValidation;
const isErrors = typeof hasErrors === "boolean" && hasErrors;
let existingFieldsValues;
if (typeof existingValues !== "object") {
    existingFieldsValues = {test:"true"};
} else {
    existingFieldsValues = existingValues;
}
%>

<% if (!isValidationPhase) { %>
<% if (typeof onlyInner !== "boolean" || !onlyInner) { %>
<div id="collections-items-list-row" class="col-8 m-0 p-0 h-100 overflow-hidden">
    <div class="card h-100 border-end-0 rounded-0 overflow-hidden">
        <div class="card-header d-flex flex-row flex-start align-items-center">
            <div class="btn px-1 py-1"
                hx-get="/collections/lists/<%= selectedID %>?onlyItems=true"
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-push-url="/collections/lists/<%= selectedID %>"
                >&lt;</div>
            <div>
                Custom Columns
            </div>
            <div class="flex-fill"></div>
            <div class="dropdown h-100">
                <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%- include("../../../icons/vertical_three_dots.ejs") %>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-item"
                            hx-get="/collections/lists/<%= selectedID %>/custom-columns/import-from-modal"
                            hx-push-url="false"
                            hx-target="#modal-content-section"
                            hx-swap="innerHTML"
                        >
                            Import From
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column h-100 overflow-hidden">
            <div class="list-group list-group-flush flex-fill overflow-auto"
                hx-trigger="update-list-columns-type-list from:body"
                hx-get="/collections/lists/<%= selectedID %>/custom-columns?only_inner_custom_columns=true"
                hx-swap="innerHTML"
            >
<% } %>
                <% for (columnType of listColumnsType) { %>
                    <div class="list-group-item d-flex flex-row align-items-center justify-content-between" 
                        style="height: 3.18rem; text-overflox: elipsis;"
                    >
                        <div><%= columnType.name %> | Type: <%= columnType.type.type %><% 
                            if (columnType.type.type === "@Int") { 
                        %>, Min: <%= columnType.type.min %>, Max: <%= columnType.type.max %>
                        <% } %></div>
                        <div id="inner-list-columns-type-<%= columnType.id %>" class="dropdown">
                            <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                                <%- include("../../../icons/vertical_three_dots.ejs") %>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="dropdown-item"
                                        hx-get="/collections/lists/<%= selectedID %>/custom-columns/edit-form?listColumnsTypeID=<%= columnType.id %>"
                                        hx-target="#custom-columns-edit-form"
                                        hx-push-url="false"
                                        hx-swap="outerHTML"
                                    >
                                        Update
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-item"
                                        hx-get="/collections/lists/<%= selectedID %>/custom-columns/delete-modal?listColumnsTypeID=<%= columnType.id %>"
                                        hx-target="#modal-content-section"
                                        hx-push-url="false"
                                        hx-swap="innerHTML"
                                    >
                                        Delete
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% } %>
<% if (typeof onlyInner !== "boolean" || !onlyInner) { %>
            </div>
<% } %>
<% } %>
<% if (typeof onlyInner !== "boolean" || !onlyInner) { %>
            <%- include("./custom_column_edit_form.ejs", {
                isValidationPhase,
                isErrors,
                errorMessages: typeof errorMessages !== "undefined" ? errorMessages : undefined,
                existingFieldsValues,
            }) %>
<% if (!isValidationPhase) { %>
        </div>
    </div>
</div>
<% } %>
<% } %>
