<div id="collections-items-list-row" class="col-8 m-0 p-0">
    <div class="card h-100 border-end-0 rounded-0">
        <div class="card-header d-flex flex-row flex-start align-items-center">
            <div class="btn px-1 py-1"
                hx-get="/collections/lists/<%= selectedID %>?onlyItems=true"
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-push-url="/collections/lists/<%= selectedID %>"
                >&lt;</div>
            <div>
                Custom Columns
            </div>
        </div>
        <div class="d-flex flex-column h-100">
            <div class="list-group list-group-flush flex-fill">
                <% for (columnType of listColumnsType) { %>
                    <div class="list-group-item d-flex flex-row align-items-center" 
                        style="height: 3.18rem; text-overflox: elipsis;"
                    >
                        <%= columnType.name %> | Type: <%= columnType.type.type %>
                        <% if (columnType.type.type === "@Int") { %>
                            <br>Min: <%= columnType.type.min %>, Max: <%= columnType.type.max %>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <form class="p-3 border-end-0 rounded-0 flex-shrink border-top">
                <div class="form-floating w-100 my-2">
                    <input class="form-control" type="text" name="name" placeholder="">
                    <label>Column Name</label>
                </div>
                <div class="form-floating w-100 my-2">
                    <select class="form-select" name="type">
                        <option value="@String">String</option>
                        <option value="@Int">Int</option>
                        <option value="@Stars">Stars</option>
                        <option value="@Href">URL</option>
                    </select>
                    <label>Column Type</label>
                </div>
                <div class="form-floating w-100 my-2">
                    <input class="form-control" type="number" name="min" placeholder="">
                    <label>Min</label>
                </div>
                <div class="form-floating w-100 my-2">
                    <input class="form-control" type="number" name="max" placeholder="">
                    <label>Max</label>
                </div>
                <button type="submit" class="btn btn-outline-secondary w-100 my-2">Create</button>
            </form>
        </div>
    </div>
</div>
