<%
const isValidationPhase = typeof isValidation === "boolean" && isValidation;
const isErrors = typeof hasErrors === "boolean" && hasErrors;
let existingFieldsValues;
if (typeof existingValues !== "object") {
    existingFieldsValues = {test:"true"};
} else {
    existingFieldsValues = existingValues;
}
%>

<% if (!isValidationPhase) { %>
<% if (typeof onlyInner !== "boolean" || !onlyInner) { %>
<div id="collections-items-list-row" class="col-8 m-0 p-0 h-100 overflow-hidden">
    <div class="card h-100 border-end-0 rounded-0 overflow-hidden">
        <div class="card-header d-flex flex-row flex-start align-items-center">
            <div class="btn px-1 py-1"
                hx-get="/collections/lists/<%= selectedID %>?onlyItems=true"
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-push-url="/collections/lists/<%= selectedID %>"
                >&lt;</div>
            <div>
                Custom Columns
            </div>
        </div>
        <div class="d-flex flex-column h-100 overflow-hidden">
            <div class="list-group list-group-flush flex-fill overflow-auto"
                hx-trigger="update-list-columns-type-list from:body"
                hx-get="/collections/lists/<%= selectedID %>/custom-columns?only_inner_custom_columns=true"
                hx-swap="innerHTML"
            >
<% } %>
                <% for (columnType of listColumnsType) { %>
                    <div class="list-group-item d-flex flex-row align-items-center justify-content-between" 
                        style="height: 3.18rem; text-overflox: elipsis;"
                    >
                        <div><%= columnType.name %> | Type: <%= columnType.type.type %><% 
                            if (columnType.type.type === "@Int") { 
                        %>, Min: <%= columnType.type.min %>, Max: <%= columnType.type.max %>
                        <% } %></div>
                        <div id="inner-list-columns-type-<%= columnType.id %>" class="dropdown">
                            <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                                <%- include("../../../icons/vertical_three_dots.ejs") %>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="dropdown-item"
                                        hx-get="/collections/lists/<%= selectedID %>/custom-columns/delete-modal?listColumnsTypeID=<%= columnType.id %>"
                                        hx-target="#modal-content-section"
                                        hx-push-url="false"
                                        hx-swap="innerHTML"
                                    >
                                        Delete
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% } %>
<% if (typeof onlyInner !== "boolean" || !onlyInner) { %>
            </div>
            <form class="p-3 border-end-0 rounded-0 flex-shrink border-top"
                hx-post="/collections/lists/<%= selectedID %>/custom-columns"
                hx-swap="innerHTML"
                hx-push-url="false"
            >
<% } %>
<% } %>
<% if (typeof onlyInner !== "boolean" || !onlyInner) { %>
                <div class="form-floating w-100 my-2">
                    <input class="form-control <%= isErrors && errorMessages.name ? 'is-invalid' : '' %>" id="custom-column-name-input" type="text" name="name" placeholder=""
                        value="<%= existingFieldsValues.name || '' %>">
                    <label>Column Name</label>
                    <% if (isErrors && errorMessages.name) { %>
                    <div class="invalid-feedback">
                        <%= errorMessages.name %>
                    </div>
                    <% } %>
                </div>
                <div class="form-floating w-100 my-2" gm-custom-columns-select-type="true">
                    <%
                        const availableOptions = [
                            ["@String", "String"],
                            ["@Int", "Int"],
                            ["@Stars", "Stars"],
                            ["@Href", "URL"],
                        ];
                    %>
                    <select class="form-select <%= isErrors && errorMessages.type ? 'is-invalid' : '' %>" id="custom-column-type-select" name="type">
                        <% for (const [type, name] of availableOptions) { %>
                        <option value="<%= type %>" <%= existingFieldsValues.type === type ? "selected" : "" %>><%= name %></option>
                        <% } %>
                    </select>
                    <label>Column Type</label>
                    <% if (isErrors && errorMessages.type) { %>
                    <div class="invalid-feedback">
                        <%= errorMessages.name %>
                    </div>
                    <% } %>
                </div>
                <div class="<%= existingFieldsValues.type === '@Int' ? '' : 'd-none' %>">
                    <div class="form-floating w-100 my-2">
                        <input class="form-control <%= isErrors && errorMessages.integer ? 'is-invalid' : '' %>" id="custom-column-min-select" type="number" name="min" placeholder=""
                        value="<%= existingFieldsValues.min || '' %>">
                        <label>Min</label>
                        <% if (isErrors && errorMessages.integer) { %>
                        <div class="invalid-feedback">
                            <%= errorMessages.integer %>
                        </div>
                        <% } %>
                    </div>
                    <div class="form-floating w-100 my-2">
                        <input class="form-control <%= isErrors && errorMessages.integer ? 'is-invalid' : '' %>" id="custom-column-max-select" type="number" name="max" placeholder=""
                            value="<%= existingFieldsValues.max || '' %>">
                        <label>Max</label>
                        <% if (isErrors && errorMessages.integer) { %>
                        <div class="invalid-feedback">
                            <%= errorMessages.integer %>
                        </div>
                        <% } %>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-secondary w-100 my-2">Create</button>
<% if (!isValidationPhase) { %>
            </form>
        </div>
    </div>
</div>
<% } %>
<% } %>
