<%
isValidation = typeof isValidation === "boolean" && isValidation;
hasErrors = typeof hasErrors === "boolean" && hasErrors;
if (typeof existingValues !== "object") {
    existingValues = {};
}
%>

<% if (!isValidation) { %>
<div id="collections-items-list-row" class="col-8 m-0 p-0">
    <div class="card h-100 border-end-0 rounded-0">
        <div class="card-header d-flex flex-row flex-start align-items-center">
            <div class="btn px-1 py-1"
                hx-get="/collections/lists/<%= selectedID %>?onlyItems=true"
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-push-url="/collections/lists/<%= selectedID %>"
                >&lt;</div>
            <div>
                Custom Columns
            </div>
        </div>
        <div class="d-flex flex-column h-100">
            <div class="list-group list-group-flush flex-fill">
                <% for (columnType of listColumnsType) { %>
                    <div class="list-group-item d-flex flex-row align-items-center" 
                        style="height: 3.18rem; text-overflox: elipsis;"
                    >
                        <%= columnType.name %> | Type: <%= columnType.type.type %>
                        <% if (columnType.type.type === "@Int") { %>
                            <br>Min: <%= columnType.type.min %>, Max: <%= columnType.type.max %>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <form class="p-3 border-end-0 rounded-0 flex-shrink border-top"
                hx-post="/collections/lists/<%= selectedID %>/custom-columns"
                hx-swap="innerHTML"
                hx-push-url="false"
            >
<% } %>
                <div class="form-floating w-100 my-2">
                    <input class="form-control <%= hasErrors && errorMessages.name ? 'is-invalid' : '' %>" id="custom-column-name-input" type="text" name="name" placeholder=""
                        value="<%= existingValues.name || '' %>">
                    <label>Column Name</label>
                    <% if (hasErrors && errorMessages.name) { %>
                    <div class="invalid-feedback">
                        <%= errorMessages.name %>
                    </div>
                    <% } %>
                </div>
                <div class="form-floating w-100 my-2" gm-custom-columns-select-type="true">
                    <%
                        const availableOptions = [
                            ["@String", "String"],
                            ["@Int", "Int"],
                            ["@Stars", "Stars"],
                            ["@Href", "URL"],
                        ];
                    %>
                    <select class="form-select <%= hasErrors && errorMessages.type ? 'is-invalid' : '' %>" id="custom-column-type-select" name="type">
                        <% for (const [type, name] of availableOptions) { %>
                        <option value="<%= type %>" <%= existingValues.type === type ? "selected" : "" %>><%= name %></option>
                        <% } %>
                    </select>
                    <label>Column Type</label>
                    <% if (hasErrors && errorMessages.type) { %>
                    <div class="invalid-feedback">
                        <%= errorMessages.name %>
                    </div>
                    <% } %>
                </div>
                <div class="<%= existingValues.type === '@Int' ? '' : 'd-none' %>">
                    <div class="form-floating w-100 my-2">
                        <input class="form-control <%= hasErrors && errorMessages.integer ? 'is-invalid' : '' %>" id="custom-column-min-select" type="number" name="min" placeholder=""
                        value="<%= existingValues.min || '' %>">
                        <label>Min</label>
                        <% if (hasErrors && errorMessages.integer) { %>
                        <div class="invalid-feedback">
                            <%= errorMessages.integer %>
                        </div>
                        <% } %>
                    </div>
                    <div class="form-floating w-100 my-2">
                        <input class="form-control <%= hasErrors && errorMessages.integer ? 'is-invalid' : '' %>" id="custom-column-max-select" type="number" name="max" placeholder=""
                            value="<%= existingValues.max || '' %>">
                        <label>Max</label>
                        <% if (hasErrors && errorMessages.integer) { %>
                        <div class="invalid-feedback">
                            <%= errorMessages.integer %>
                        </div>
                        <% } %>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-secondary w-100 my-2">Create</button>
<% if (!isValidation) { %>
            </form>
        </div>
    </div>
</div>
<% } %>
