<% if (typeof isValidation === "undefined" || !isValidation) { %>
<form id="custom-columns-edit-form"
    class="p-3 border-end-0 rounded-0 flex-shrink border-top"
    hx-put="/collections/lists/<%= selectedID %>/custom-columns?listColumnTypeID=<%= listColumnType.id %>"
    hx-swap="innerHTML"
    hx-push-url="false"
>
<% } %>
    <h3 class="display-7 my-2 text-center">Editing <%= listColumnType.name %></h3>

    <div class="form-floating w-100 my-2">
        <input id="custom-column-name-input" class="form-control <%= typeof nameValidationError !== 'undefined' && nameValidationError ? 'is-invalid' : '' %>" type="text" name="name" placeholder="" value="<%= typeof existingName !== "undefined" ? existingName : "" %>">
        <label>Column Name</label>
        <% if (typeof nameValidationError !== "undefined" && nameValidationError) { %>
        <div class="invalid-feedback">
            <%= nameValidationError %>
        </div>
        <% } %>
    </div>

    <button type="submit" class="btn btn-outline-secondary w-100 my-2">Update</button>
    <button 
        type="button" 
        class="btn btn-outline-secondary w-100 my-2"
        hx-get="/collections/lists/<%= selectedID %>/custom-columns/new-form"
        hx-target="#custom-columns-edit-form"
        hx-swap="outerHTML"
        hx-push-url="false"
    >Cancel</button>
<% if (typeof isValidation === "undefined" || !isValidation) { %>
</form>
<% } %>
