<%
function getColumnType(columnTypeID) {
    for (let item of listColumnsType) {
        if (item.id === columnTypeID) {
            return item;
        }
    }
}
%>

<% if (fullPageLoad) { %>
<div id="collections-lists-global-row" class="row h-100">
    <%- include("../collections_lists_list.ejs", { lists: lists, selectedID: listID }) %>
<% } %>

    <% if (item) { %>
        <div id="item-detail-card" class="col-8 m-0 p-0">
            <div class="card h-100">
                <div class="card-header">
                    <div class="btn btn-outline-secondary p-0 px-1 m-0 h-100" style="font-size: 0.75rem;"
                        hx-get="/collections/lists/<%= item.parentList.id %>?onlyItems=true"
                        hx-target="#item-detail-card"
                        hx-swap="outerHTML"
                        hx-push-url="/collections/lists/<%= item.parentList.id %>"
                    >&lt;</div>
                    <%= item.name %>
                </div>
                <div class="list-group list-group-flush">
                    <% if (item.url) { %>
                        <div class="list-group-item">URL: <a class="card-link" href="<%= item.url %>"><%= item.url %></a></div>
                    <% } %>

                    <% if (item.rating) { %>
                        <div class="list-group-item d-flex flex-row align-items-center">
                            <div class="me-2">Rating:</div> <div class="starability-result" data-rating="<%= item.rating%>">Rated: <%= item.rating %> star<%= item.rating > 1 ? 's' : '' %></div>
                        </div>
                    <% } %>

                    <% for (let customData of item.customData) { %>
                        <% const columnType = getColumnType(customData.columnTypeID); %>

                        <div class="list-group-item">
                            <% if (columnType.type.type === "@Stars") { %>
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <div class="me-1"><%= columnType.name %>:</div>
                                    <div class="starability-result" data-rating="<%= customData.value %>"></div>
                                </div>
                            <% } else if (columnType.type.type === "@Href") {%>
                                <div><%= columnType.name %>: <a href="<%= customData.value %>"><%= customData.value %></a></div>
                            <% } else { %>
                                <div><%= columnType.name %>: <%= customData.value %></div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
    
<% if (fullPageLoad) { %>
</div>
<% } %>
