<%
function getColumnType(columnTypeID) {
    for (let item of listColumnsType) {
        if (item.id === columnTypeID) {
            return item;
        }
    }
}
%>

<% if (fullPageLoad) { %>
<div id="collections-lists-global-row" class="row h-100 overflow-hidden">
    <%- include("../collections_lists_list.ejs", { lists: lists, selectedID: listID }) %>
<% } %>

    <% if (item) { %>
        <div id="item-detail-card" class="col-8 m-0 p-0 h-100 overflow-hidden">
            <div class="card h-100 border-end-0 rounded-0">
                <div class="card-header d-flex flex-row justify-content-between align-items-center">
                    <div class="h-100 w-100 d-flex flex-row flex-start align-items-center">
                        <div class="btn px-1 py-1"
                            hx-get="/collections/lists/<%= item.parentList.id %>?onlyItems=true"
                            hx-target="#item-detail-card"
                            hx-swap="outerHTML"
                            hx-push-url="/collections/lists/<%= item.parentList.id %>"
                        hx-headers='{"GS-currentItemsPage":<%= typeof currentItemPage === "number" ? currentItemPage : 1 %><%= typeof itemsListSearchTerm === "string" ? `,"GS-searchTerm":"${itemsListSearchTerm}"` : "" %>}'
                            >&lt;</div>
                        <%= item.name %>
                    </div>
                    <button 
                        type="button" 
                        class="btn p-0"
                        hx-get="/collections/lists/<%= item.parentList.id %>/item/<%= item.id %>/edit"
                        hx-target="#item-detail-card"
                        hx-push-url="false"
                        hx-swap="outerHTML"
                    >
                        <%- include("../../icons/edit_item.ejs") %>
                    </button>
                    <div class="dropdown h-100">
                        <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                            <%- include("../../icons/vertical_three_dots.ejs") %>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropdown-item"
                                    hx-get="/collections/lists/<%= item.parentList.id %>/item/<%= item.id %>/edit"
                                    hx-target="#item-detail-card"
                                    hx-push-url="false"
                                    hx-swap="outerHTML"
                                >
                                    Edit
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item"
                                    hx-get="/collections/lists/<%= item.parentList.id %>/item/<%= item.id %>/delete-modal?destinationId=item-detail-card"
                                    hx-target="#modal-content-section"
                                    hx-push-url="false"
                                    hx-swap="innerHTML"
                                >
                                    Delete
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item"
                                    hx-get="/collections/lists/<%= item.parentList.id %>/item/<%= item.id %>/move-to"
                                    hx-target="#modal-content-section"
                                    hx-push-url="false"
                                    hx-swap="innerHTML"
                                >
                                    Move To
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-group list-group-flush h-100 overflow-auto">
                    <% if (item.url) { %>
                        <div class="list-group-item d-flex align-items-center footer-card-height">URL: <a class="d-block ms-1 card-link text-ellipsis" href="<%= item.url %>"><%= item.url %></a></div>
                    <% } %>

                    <% if (item.rating) { %>
                        <div class="list-group-item d-flex flex-row align-items-center footer-card-height">
                            <div class="me-2">Rating:</div> <div class="starability-result" data-rating="<%= item.rating%>">Rated: <%= item.rating %> star<%= item.rating > 1 ? 's' : '' %></div>
                        </div>
                    <% } %>

                    <% for (let customData of item.customData) { %>
                        <% const columnType = getColumnType(customData.columnTypeID); %>

                        <div class="list-group-item d-flex align-items-center footer-card-height">
                            <% if (columnType.type.type === "@Stars") { %>
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <div class="me-1"><%= columnType.name %>:</div>
                                    <div class="starability-result" data-rating="<%= customData.value %>"></div>
                                </div>
                            <% } else if (columnType.type.type === "@Href") {%>
                                <div class="text-ellipsis"><%= columnType.name %>: <a href="<%= customData.value %>"><%= customData.value %></a></div>
                            <% } else { %>
                                <div><%= columnType.name %>: <%= customData.value %></div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
    
<% if (fullPageLoad) { %>
</div>
<% } %>
