<%
const listSortingSelectionIndex = typeof listSorting === "undefined" ?
    null :
    typeof listSorting === "object" && listSorting && listSorting.type === "order-by-name" ? 1 :
    typeof listSorting === "object" && listSorting && listSorting.type === "order-by-rating" ? 2 : 0;
%>

<div class="card-header d-flex flex-row justify-content-between align-items-center"
>
    <div>Items</div>
    <% if (typeof selectedID === "string" && selectedID.length ) { %>
    <div class="d-flex flex-row align-items-center">
        <div class="dropdown h-100">
            <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                <%- include("../../icons/sorting_icon.ejs") %>
            </button>
            <ul class="dropdown-menu">
                <% [["No sorting", "no-sorting"], ["Sorting by name", "order-by-name"], ["Sorting by rating", "order-by-rating"]].forEach(function(value, index) { %>
                    <li>
                        <div class="dropdown-item <%= listSortingSelectionIndex === index ? 'active' : '' %>"
                            <% if (typeof baseUrl !== "undefined" && listSortingSelectionIndex !== index) { %>
                                hx-post="<%= baseUrl %>/update-list-sorting"
                                hx-push-url="false"
                                hx-vals='{"listSorting":"<%= value[1] %>"}'
                            <% } %>
                        >
                            <%= value[0] %>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        <button type="button" class="iconLinkButton <%= 
                itemsPagination.reverseOrder ? 'reversed' : '' %>"
            <% if (typeof baseUrl !== "undefined") { %>
                hx-post="<%= baseUrl %>/switch-list-order"
                hx-push-url="false"
            <% } %>
        >
            <!-- <img class="revert-color" src="/images/crescendoOrder.svg"> -->
            <%- include("../../icons/crescendoOrder.ejs") %>
        </button>
        <div class="dropdown h-100">
            <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                <%- include("../../icons/vertical_three_dots.ejs") %>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-item"
                        hx-get="/collections/lists/<%= selectedID %>/new"
                        hx-target="#collections-items-list-row"
                        hx-swap="outerHTML"
                    >
                        New
                    </div>
                </li>
                <li>
                    <div class="dropdown-item"
                        hx-get="/collections/lists/<%= selectedID %>/custom-columns?only_custom_columns=true"
                        hx-target="#collections-items-list-row"
                        hx-swap="outerHTML"
                        hx-push-url="/collections/lists/<%= selectedID %>/custom-columns"
                    >
                        Custom Columns
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <% } else { %>
        <div style="height: 2.1rem"></div>
    <% } %>
</div>
