<div class="card-header d-flex flex-row justify-content-between align-items-center">
    <div>Items</div>
    <% if (typeof selectedID === "string" && selectedID.length ) { %>
    <div class="d-flex flex-row align-items-center">
        <button type="button" class="iconLinkButton <%= 
                itemsPagination.reverseOrder ? 'reversed' : '' %>"
            hx-post="<%= baseUrl %>/switch-list-order"
            hx-push-url="false"
        >
            <img class="revert-color" src="/images/crescendoOrder.svg">
        </button>
        <div class="dropdown h-100">
            <button type="button" class="btn p-0 py-1" data-bs-toggle="dropdown" aria-expanded="false">
                <%- include("../../icons/vertical_three_dots.ejs") %>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-item"
                        hx-get="/collections/lists/<%= selectedID %>/new"
                        hx-target="#collections-items-list-row"
                        hx-swap="outerHTML"
                    >
                        New
                    </div>
                </li>
                <li>
                    <div class="dropdown-item"
                        hx-get="/collections/lists/<%= selectedID %>/custom-columns?only_custom_columns=true"
                        hx-target="#collections-items-list-row"
                        hx-swap="outerHTML"
                        hx-push-url="/collections/lists/<%= selectedID %>/custom-columns"
                    >
                        Custom Columns
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <% } else { %>
        <div style="height: 2.1rem"></div>
    <% } %>
</div>
