<div id="collections-items-list-row" class="col-8 m-0 p-0">
    <div class="card h-100 border-end-0 rounded-0">
        <%- include("./items_header_bar.ejs") %>
        <div class="list-group list-group-flush h-100">
            <% for (const item of items) { %>
                <button 
                    class="list-group-item list-group-item-action d-flex flex-row align-items-center"
                    style="height: 3.18rem;"
                    hx-get="<%= baseUrl %>/item/<%= item.id %>"
                    hx-target="#collections-items-list-row"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    hx-headers='{"GS-currentItemsPage":<%= itemsPagination.currentPage %>}'
                >
                    <div class="flex-fill three-dot-text text-start"><%= item.name %></div>
                    <% if (typeof item.rating === "number") { %>
                    <div class="starability-result starsSize" data-rating="<%= item.rating%>">Rated: <%= item.rating %> star<%= item.rating > 1 ? 's' : '' %></div>
                    <% } %>
                </button>
            <% } %>
        </div>
        <%- include("../partials/pagination_footer.ejs", {
            pagination: typeof itemsPagination === "object" ? itemsPagination : undefined,
            previousHTMX: `
                hx-get='/collections/lists/${selectedID}?onlyItems=true'
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-headers='{"GS-currentItemsPage":${itemsPagination.currentPage-1}}'
            `,
            nextHTMX: `
                hx-get='/collections/lists/${selectedID}?onlyItems=true'
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-headers='{"GS-currentItemsPage":${itemsPagination.currentPage+1}}'
            `,
        }) %>
    </div>
</div>
