<% 
    const isErrorObj = typeof errorMessages === "object"; 
    const isExistingValues = typeof existingValues === "object";
%>

<div id="collections-items-list-row" class="col-8 m-0 p-0">
    <div class="card h-100">
        <div class="card-header">
            <div class="btn btn-outline-secondary p-0 px-1 m-0 h-100" style="font-size: 0.75rem;"
                <% const endpoint = `/collections/lists/${listID}`; %>
                hx-get="<%= endpoint %>?onlyItems=true"
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-push-url="<%= endpoint %>"
            >&lt;</div>
            New Item
        </div>
        <form class="card-body d-flex flex-column justify-content-center align-items-center"
            hx-post="/collections/lists/<%= listID %>"
            hx-target="#collections-items-list-row"
            hx-swap="outerHTML"
        >
            <h3 class="display-7 my-2">Creating Item</h3>
            <div class="form-floating w-100 my-2">
                <% const isItemNameError = isErrorObj && errorMessages?.name; %>
                <input class="form-control <%= isItemNameError ? 'is-invalid' : '' %>" type="text" name="name" id="new-item-name" placeholder="" value="<%= isExistingValues ? existingValues.name : '' %>">
                <label for="new-item-name">Item Name</label>
                <% if (isItemNameError) { %>
                    <div class="invalid-feedback"><%= errorMessages?.name %></div>
                <% } %>
            </div>

            <div class="form-floating w-100 my-2">
                <% const isItemUrlError = isErrorObj && errorMessages?.url; %>
                <input class="form-control <%= isItemUrlError ? 'is-invalid' : '' %>" type="url" name="url" id="new-item-url" placeholder="" value="<%= isExistingValues ? existingValues.url : '' %>">
                <label for="new-item-url">Item Url</label>
                <% if (isItemUrlError) { %>
                    <div class="invalid-feedback"><%= errorMessages?.url %></div>
                <% } %>
            </div>

            <% const isItemRatingError = isErrorObj && errorMessages?.rating; %>
            <div class="my-2 w-100">
            <div class="card <%= isItemRatingError ? 'border-danger':'' %> w-100">
                <div class="card-body">
                    <div class="mb-4 starability-basic">
                        <div class="form-label">Hello</div>
                        <input type="radio" name="rating" id="no-rate" <%= isExistingValues ? (existingValues.rating === "0" ? 'checked' : '') : 'checked' %> value="0">
                        <% for (let i = 0; i < 5; i++) { %>
                            <input type="radio" name="rating" id="first-rate<%= i+1 %>" value="<%= i+1 %>" <%= isExistingValues && existingValues.rating === (i+1).toString() ? 'checked' : '' %>>
                            <label for="first-rate<%= i+1 %>"><%= i+1 %> Star</label>
                        <% } %>

                    </div>
                </div>
            </div>
            <% if (isItemRatingError) { %>
                <div class="w-100 invalid-feedback d-block" style="font-size: 0.85rem;"><%= errorMessages?.rating %></div>
            <% } %>
            </div>

            <% for (let customColumn of listColumnsType) { %>
                <% let customColumnID = `customColumn_${customColumn.id}`; %>
                <div class="my-2 w-100 <%= customColumn.type.type === '@Stars' ? 'starability-basic' : 'form-floating' %>">
                    <% const customColumnName = `customColumns[${customColumnID}]`; %>
                    <% if (customColumn.type.type === "@Stars") { %>
                        <div class="form-label"><%= customColumn.name %></div>
                        <input type="radio" name="<%= customColumnName %>" id="<%= customColumnName %>-no-rate" checked value="0">
                        <% for (let indexStar = 0; indexStart < 5; indexStar++) { %>
                            <input class="first-rate<%= indexStar+1 %>" type="radio" name="<%= customColumnName %>" id="<%= customColumnName %>-rate<%= indexStar+1 %>" value="<%= indexStar+1 %>">
                            <label for="<%= customColumnName %>-rate<%= indexStar+1 %>"><%= indexStar+1 %> Star</label>
                        <% } %>
                    <% } else { %>
                        <input class="form-control" <%- getCustomControlType(customColumn) %> name="<%= customColumnName %>" id="<%= customColumnID %>" placeholder="">
                        <label for="<%= customColumnID %>"><%= customColumn.name %></label>
                    <% } %>
                </div>
            <% } %>

            <button class="btn btn-outline-secondary w-100 my-2" type="submit">Create</button>
        </form>
    </div>
</div>
